{% extends 'base.html' %}
{% block title %}
Editar
{% endblock %}
{% load static %}

{% block content %}
<div class="flex">

    <div class="max-w-4xl mx-auto mt-10 bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Háblanos del puesto</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="description" class="block text-lg font-medium text-gray-700 mb-1">
                    Descripción <span class="text-red-600">*</span>
                </label>
                <p class="text-sm text-gray-500 mb-3">
                    Consejos: Haz un resumen del puesto, explica qué se necesita para triunfar en él y el lugar que ocupa en la
                    empresa.
                </p>
                <textarea id="description" name="description" rows="10"
                class="w-full border border-gray-300 rounded-md p-3 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Responsabilidades:
                [Describe con precisión todas las responsabilidades. Usa un lenguaje inclusivo.]
                Ejemplo: Definir y desarrollar los requisitos para los sistemas en fase de producción para garantizar la máxima facilidad de uso.
                
                Requisitos:
                [Algunos requisitos que podrías incluir: aptitudes, estudios, experiencia o certificados.]
                Ejemplo: Excelentes dotes para la comunicación oral y escrita."
                oninput="updateCharacterCount()"></textarea>
                
                <p class="text-sm text-gray-500 text-right mt-2" id="charCount">0/10,000</p>
            </div>
            
            <div class="flex justify-between items-center">
                <a href="{% url 'createjob' %}" class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg shadow-sm">  
                    Regresar
                </a>
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
                    Publicar
                </button>
            </div>
        </form>
    </div>
    
    <div class="max-w-4xl mt-10 lg:w-1/3">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">{{ job.title }}</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ job.company.description }}</p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
                <p class="text-sm text-gray-500">{{ job.address.description }}, {{ job.address.province.description }} ({{ job.mode.description }})</p>
            </div>
        </div>
    </div>

</div>

<script>
    function updateCharacterCount() {
        const descriptionField = document.getElementById('description');
        const charCount = document.getElementById('charCount');
        const currentLength = descriptionField.value.length;
        charCount.textContent = `${currentLength}/10,000`;
    }
</script>

{% endblock %}
